use flake --impure
export AM_HOME="$(realpath ./abstract-machine)"
export NPC_HOME="$(realpath ./npc)"
export NEMU_HOME="$(realpath ./nemu)"
export YSYXSOC_HOME="$(realpath ./ysyxSoC)"
export NVBOARD_HOME="$(realpath ./nvboard)"
# export CFLAGS="-I$AM_HOME/include $CFLAGS"
# export CPPFLAGS="-I$AM_HOME/include $CFLAGS"
