[submodule "ysyxSoC"]
	path = ysyxSoC
	url = https://github.com/Seeker0472/ysyxSoc.git
[submodule "am-kernels/tests/riscv-arch-test-am"]
	path = am-kernels/tests/riscv-arch-test-am
	url = https://github.com/NJU-ProjectN/riscv-arch-test-am.git
[submodule "nvboard"]
	path = nvboard
	url = git@github.com:Seeker0472/nvboard.git
[submodule "npc/rvdecoderdb"]
	path = npc/rvdecoderdb
	url = git@github.com:chipsalliance/rvdecoderdb.git
