[submodule "nemu/am-kernels/tests/riscv-arch-test-am"]
	path = nemu/am-kernels/tests/riscv-arch-test-am
	url = https://github.com/NJU-ProjectN/riscv-arch-test-am.git
[submodule "ysyxSoC"]
	path = ysyxSoC
	url = git@github.com:OSCPU/ysyxSoC.git
