*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!Makefile
!README.md
!.gitignore
!init.sh
!git_softcheckout_dev.sh
/nvboard
/fceux-am
!/am-kernels
!*.nix
!.envrc
!flake.lock
!/cachesim/*.py
!.clangd
!plog.md
!npc.png

yosys-sta/*
