*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!build.sc
!README.md
build/
!.clangd
!riscv-opcodes

# mill
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/

obj_dir/

csrc/include/generated/
